* {
    font-family: monospace, sans-serif;
    background-color: black;
}
h1 {
    color:coral;
    text-align: center;
}
p {
    color: aqua;
    text-align: center;
}
table {
    width: 700px;
}
th, td {
    padding: 7px 10px 10px 10px;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 1px solid #999;
    text-align: left;
}
th {
    text-align: center;
    color: coral;
    text-transform: uppercase;
}
td {
    text-transform: capitalize;
    color:aqua;
}
img.align-center {
    margin: 0px auto;
    padding-top: 20px;
    display: block;

}
